snippet isc
	import styled from 'styled-components';

snippet csdiv
	const ${1} = styled.div\`
		${2}
	\`;

snippet csh1
	const ${1} = styled.h1\`
		${2}
	\`;

snippet cscomp
	const ${2} = styled(${1})\`
		${3}
	`;
